PATH_add "$HOME/.local/bin"
PATH_add "$HOME/.cargo/bin"
use nix
if [ -f "$HOME/export-esp.sh" ]; then source "$HOME/export-esp.sh"; fi
export WOKWI_CLI_TOKEN
WOKWI_CLI_TOKEN="$(pass show -o Account/wokwi.com/WOKWI_API_KEY)"
