
<html>

<head>
<title> Socket IO</title>
<!-- <link rel = "stylesheet" type = "text/css" href = "C:\Users\Mohammed Innat\Downloads\Compressed\a\ws-webio\templates\view.css"/> -->

<style type="text/css">
	

</style>



</head>

<body>

<div> <!-- LEDs -->
<h1>Web Socket IO</h1>


<hr>
Websocket status:
<br>
<div id="ws-status"> Waiting... </div>

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ static_url("ws-client.js")}}"></script>

</body>

</html>
